body
{
  background-color: rgb(147, 176, 209);
}
h1
{
  text-align: center;
  color: rgb(255, 255, 255)
}
h2
{
  text-align: center;
  color: #d32f2f;
}
p
{
  color: black;
  text-align: center;
}
section
{
  margin: 20px;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
ul
{
  list-style-type: circle;
  margin-left: 20px;
}
footer
{
  font-size: 15px;
  font-style: italic;
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0)
}
td
{
  font-size: medium;
  border: 1px solid rgb(255, 255, 255);
  color: rgb(255, 255, 255);
}
table
{
  margin: 0 auto;
  border-collapse: collapse;
  color: rgb(255, 255, 255);
}
a:hover
{
  opacity: 0.5;
  font-size: medium;
}
img:hover
{
  opacity: 0.5;
  transform: scale(0.99);
}